.nav-bar {
    display: flex;
    gap: 20px;
    font-family: Garamond;
    background-color: rgba(149, 118, 167, 0.341);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-bar a {
    text-decoration: none;
    color: #032951ca;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    font-family: monospace;
    transition: 0.3s ease-in-out;
}

.nav-bar a:hover {
    text-decoration: underline;
    font-size: x-large;
}

@media (max-width: 670px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-end; /* Align items to the right */
        background-color: white; /* Change background color if needed */
        box-sizing: border-box;
        padding: 16px; /* Adjust padding for better spacing */
        display: none;
    }

    .nav-bar a {
        display: block;
        margin: 10px 0;
        font-size: 18px; /* Adjust font size for better visibility */
        text-align: right; /* Align text to the right */
    }
}
