.ContactUs form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-title {

    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: rgba(149, 118, 167, 0.341);
    border-bottom: 2px solid #ccc;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 2px;
}