.eyeVisible {
    font-size: xx-large;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.p-pass {
    font-size: small;
    color: blue;
    text-decoration: underline;
    user-select: none;
}