/* Style the navigation menu */
.topnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: none;
    padding: 14px 16px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
    display: none;
    position: absolute;
    right: 16px;
    /* Align with the hamburger icon */
    top: 60px;
    /* Position below the navbar */
    background-color: gainsboro;
    flex-direction: column;
    width: 200px;
    border-radius: 8px;
    opacity: 0.5;
}


/* Show the links when the menu is open */
#myLinks.show {
    display: flex;
}

/* Style navigation menu links */
.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: white;
    display: block;
    padding: 14px 16px;
    cursor: pointer;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active-nav {
    display: none;
}