/* Whole List */
.ProductsList {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

/* Add Product -> (+) */
.add-prod {
    font-size: x-large;
    color: darkblue;
    border-radius: 18rem;
    font-family: monospace;
}

/* Title */
.prod-title {
    text-align: center;
    font-family: cursive;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.clear-all {
    width: 120px;
    padding-top: 40px;
}