html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

form {
  width: 250px;
  border: 1px solid;
  text-align: left;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 10px 10px 10px;
  border-radius: 10px;
  font-family: monospace;
  font-weight: bold;

}

form input,
form button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}


form button {
  position: relative;
  padding: 22px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;

}


.card img {
  width: 100%;
  height: auto;
}


